$whiteGreen: rgb(206, 253, 217);
$paleGreen: #CCEDD2;
$baseGreen: #94D3AC;
$darkGreen: #496353;
$brownGray: #655C56;
$darkBrown: #534840;

$black: #222831;
$darkGray: #393E46;
$blueGreen: #29A19C;
$mintGreen: #A2F7BF;