@import './variables';

* {
  box-sizing: border-box;
  font-size: 20px;
}

@import './navbar';

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: $blueGreen;
  color: $black;
  text-align: center;
  line-height: 1.5;
  font-weight: 600;
}

@import './header';

.about-me {
  padding: 6% 3%;
  background-color: $darkGray;
  color: $paleGreen;
  font-weight: 500;
  margin-bottom: 2rem;
  h2 {
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 600;
    font-style: italic;
    color: $mintGreen;
  }
}

.bio {
  font-size: 1rem;
  font-weight: 800;
}

@import './projects';

footer {
  padding: 1% 1%;
  margin: 2rem 0 0 0;
  height: 6rem;
  .contact-links {
    background-color: $black;
    color: $paleGreen;
    margin: 0;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 0;
    }
  }
  .contact-info {
    background-color: $darkGray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 66.66%;
  }
  a {
    max-width: 25%;
    max-height: 2rem;
  }
  img {
    max-width: 100%;
    max-height: 2rem;
  }
}
